@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, #3f87f3, #612294);
}
body #root {
  @apply h-full w-full;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container-grid {
  @apply grid sm:grid-cols-2 md:grid-cols-3 gap-5;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  /* grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); */
}
